@model Students_Attendance_Project.Models.FilterModel
@using Students_Attendance_Project.Common;
@using Students_Attendance_Project.Models;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "วันหยุดราชการ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>

<section>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div class="box-header">
                    <div class="box-header">
                        <div class="caption">
                            <i class="fa fa-cogs"></i> &nbsp;<strong style="font-size: 16px; ">วันหยุดราชการ</strong>
                            @*<a href="@Url.Action("CreateUser","Admin")" class="btn btn-primary btn-sm pull-right" role="button">เพิ่ม</a>*@

                            <button type="button" class="btn btn-primary btn-sm pull-right btn-adddepartment"><i class="fa fa-plus"></i>&nbsp;เพิ่มวันหยุด</button>
                        </div>
                        <p>
                            <hr />
                        </p>
                        <div class="row col-sm-5 pull-right">
                            <form id="form-search" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <input type="text" name="Query" class="form-control" placeholder="ค้นหา..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- Teble-->
                        <div class="table-scrollable" id="Holiday-table">
                            <table class="table table-bordered table-hover text-center" id="Holiday-table">
                                <thead>
                                    <tr class="success">
                                        <th style="width: 5%;"> ลำดับ</th>
                                        <th style="width: 15%;"> วันที่ </th>
                                        <th> วันหยุด </th>
                                        <th style="width: 10%;">  </th>
                                    </tr>
                                </thead>
                                <tbody class="text-left">
                                    @{
                                        var entity = (PagedList.IPagedList<HolidayModel>)ViewBag.Holiday;
                                        if (entity.Count > 0 && entity != null)
                                        {
                                            int line = 1;
                                            foreach (var r in entity)
                                            {
                                                <tr class="@(line % 2 == 0 ? "info":"")">
                                                    <td>@line</td>
                                                    <td>@r.HolidayDate.ToString("dd/MM/yyyy", Shared.CultureInfoTh)</td>
                                                    <td style="text-align:left;">@r.HolidayName</td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-xs btn-edit" data-holidayid="@r.HolidayID" role="button" data-toggle="tooltip" data-placement="top" title="แก้ไข"><i class="fa fa-pencil"></i></button>
                                                        <button type="button" class="btn btn-danger btn-xs btn-del" data-holidayid="@r.HolidayID" role="button" data-toggle="tooltip" data-placement="top" title="ลบ"><i class="fa fa-remove"></i></button>
                                                    </td>
                                                </tr>
                                                line++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row pull-right" style="margin-right:2px;">
                            @Html.PagedListPager((IPagedList)ViewBag.Holiday, page => Url.Action("Holiday", new { page, Model.Query }))
                        </div>
                        <!-- table-->
                        <!-- modal User-->
                        <form id="Holiday-form" class="form-horizontal">
                            <div class="modal fade" id="HolidayModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">วันหยุดประจำปี</h4>
                                        </div>
                                        <div class="modal-body ">

                                            <input type="hidden" name="HolidayID" id="HolidayID" value="0">
                                            <input type="hidden" name="dataDate" id="dataDate" value="">

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">วันที่ :<span class="isRed"> *</span></label>
                                                <div class="col-sm-5">
                                                    <div class="input-group date">
                                                        <input type="text" class="form-control datepicker" id="HolidayDate" name="HolidayDate" data-date-language="th-th" tabindex="1"
                                                               maxlength="10" onkeyup="isDate(this.value, this)" onchange="CheckDate()">
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                        @*<input type="text" name="HolidayDate1" id="HolidayDate1" style="display:none;" required>*@
                                                    </div>
                                                    <div id="isHoliday" style="padding-top: 3px;"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">วันหยุด :<span class="isRed"> *</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="HolidayName" name="HolidayName" tabindex="2"
                                                           required onkeyup="isThaichar1(this.value, this)">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                            <button type="button" class="btn btn-success pull-right btn-save" data-dismiss="modal">บันทึกข้อมูล</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <!-- modal CreateUser-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.sidebar-menu > li').removeClass('active');
            $('.basicMenu').addClass('active');
            $('.basicMenu > ul > .Holiday').addClass('active');
        });
        $('.datepicker').datepicker({
            showInputs: false,
            autoclose: true,
            disableTouchKeyboard: true,
            format: 'dd/mm/yyyy'
        });

        function isDate(sText, obj) {
            var ValidChars = "1234567890/";
            var IsNumber = true;
            var Char;
            for (i = 0; i < sText.length && IsNumber == true; i++) {
                Char = sText.charAt(i);
                if (ValidChars.indexOf(Char) == -1) {
                    IsNumber = false;
                }
            }
            if (IsNumber == false) {
                obj.value = sText.substr(0, sText.length - 1);
            }
        }

        function isThaichar1(sText, obj) {
            var ValidChars = "ๅภถุึคตจขชๆไำพะัีรนยบลฃฟหกดเ้่าสวงผปแอิืทมใฝฎฑธํ๊ณฯญฐฅฤฆฏโฌ็๋ษศซฉฮฺ์ฒฬฦู";
            var IsNumber = true;
            var Char;
            for (i = 0; i < sText.length && IsNumber == true; i++) {
                Char = sText.charAt(i);
                if (ValidChars.indexOf(Char) == -1) {
                    IsNumber = false;
                }
            }
            if (IsNumber == false) {
                obj.value = sText.substr(0, sText.length - 1);
            }
        }

        $('.btn-save').click(function () {
            $('#dataDate').val($('#HolidayDate').val());
            if ($('#Holiday-form').valid() && isHolidayDate == true) {
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("SaveHoliday", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: $('#Holiday-form').serialize(), // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },

                    success: function (res) {

                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            swal("เกิดข้อผิดพลาด", message, "error");

                        } else {
                            swal({
                                title: "บันทึกข้อมูลเรียบร้อยเเล้ว",
                                type: "success",
                                showConfirmButton: false,
                                //confirmButtonColor: "#AEDEF4",
                                //confirmButtonText: "Ok",
                                timer: 1000,
                                closeOnConfirm: false
                            },
                                function () {
                                    location.reload(true);
                                });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                        unLoadSpin();
                    },
                    complete: function () {
                        unLoadSpin();
                    },
                });
            }
            else {
                $('#Holiday-form').find('.form-group').find('#HolidayDate').removeClass('valid').addClass('error');
            }
            return false;
        });

        $('.btn-edit').click(function () {
            //var id = $(this).data("schyearid");
            //alert(id);
            isHolidayDate = true;
            $("#HolidayID").val($(this).data("holidayid"));
            var tempid = $("#HolidayID").val();
            $.ajax({
                type: "POST", // method ที่จะส่ง
                cache: false,
                url: '@Url.Action("UpdateHoliday", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                dataType: "json", // ชนิดข้อมูลที่ส่ง
                data: { id: $('#HolidayID').val() }, // ข้อมูลที่ส่ง
                traditional: false, // การจดจำข้อมูล
                beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                    loadSpin();
                },
                success: function (res) {

                    var status = false;
                    var message = 'ดำเนินการไม่สำเร็จ';
                    if (res != null && res != undefined) {
                        status = res.status;
                        message = res.message != '' ? res.message : message;
                    }
                    if (status == false) {
                        swal("เกิดข้อผิดพลาด", message, "error");

                    } else {
                        $('#HolidayID').val(res.data.HolidayID);
                        $('#HolidayDate').val(res.data.dataDate);
                        $('#HolidayName').val(res.data.HolidayName);
                        ResetModal();
                        $('#HolidayModal').modal('show');
                        ////$('#Term').prop("readonly", true);
                        //$('#Year').prop("readonly", true);
                        $('#HolidayDate').attr("onchange", null);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("เกิดข้อผิดพลาด", message, "error");
                    unLoadSpin();
                },
                complete: function () {
                    unLoadSpin();
                }
            });
        });

        $('.btn-del').click(function () {
            var id = $(this).data("holidayid");
            //alert(id);
            swal({
                title: "ลบข้อมูล?",
                text: "คุณต้องการจะลบข้อมูลจริงหรือไม่!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "ใช่ !",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST", // method ที่จะส่ง
                        cache: false,
                        url: '@Url.Action("DeleteHoliday", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                        dataType: "json", // ชนิดข้อมูลที่ส่ง
                        data: { id: id }, // ข้อมูลที่ส่ง
                        traditional: true, // การจดจำข้อมูล
                        beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                            loadSpin();
                        },
                        success: function (res) {

                            var status = false;
                            var message = 'ดำเนินการไม่สำเร็จ';
                            if (res != null && res != undefined) {
                                status = res.status;
                                message = res.message != '' ? res.message : message;
                            }
                            if (status == false) {
                                swal("เกิดข้อผิดพลาด", message, "error");

                            } else {

                                swal({
                                    title: "ลบข้อมูลเรียบร้อยเเล้ว",
                                    type: "success",
                                    showConfirmButton: false,
                                    timer: 1000,
                                    //confirmButtonColor: "#AEDEF4",
                                    //confirmButtonText: "Ok",
                                    closeOnConfirm: false
                                },
                                function () {
                                    location.reload(true);
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("เกิดข้อผิดพลาด", message, "error");
                            unLoadSpin();
                        },
                        complete: function () {
                            unLoadSpin();
                        }
                    });

                }
            });
        });

        var isHolidayDate = false;
        function CheckDate() {
            var sText = $('#HolidayDate').val();
            $('#dataDate').val($('#HolidayDate').val());
            if (sText != "") {
                $.ajax({
                    type: "POST",
                    cache: false,
                    url: '@Url.Action("CheckHolidayDate","Admin")',
                    dataType: "json",
                    data: { _date: sText },
                    traditional: true,
                    beforeSend: function () {
                        loadSpin();
                    },
                    success: function (res) {
                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message;
                        }
                        if (status == false) {
                            isHolidayDate = false;
                            $('#isHoliday').html(sText + " ซ้ำ กรุณาป้อนใหม่").addClass("isRed");
                            $('#Holiday-form').find('.form-group').find('#HolidayDate').removeClass('valid').addClass('error');
                        }
                        else {
                            isHolidayDate = true;
                            $('#isHoliday').html("");
                            $('#Holiday-form').find('.form-group').find('#HolidayDate').removeClass('error');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                        unLoadSpin();
                    },
                    complete: function () {
                        unLoadSpin();
                    }
                });
            }
            else {
                isHolidayDate = false;
                $('#isDeptCode').html("");
            }
            return isHoliday;
        }

        function ResetModal() {
            $('#isHoliday').html("");
            $('#Holiday-form').find('.form-group').find('label.error').remove();
            $('#Holiday-form').find('.form-group').find('.error').removeClass('error');
            $('#Holiday-form').find('.form-group').find('.valid').removeClass('valid');
        }

        $('.btn-adddepartment').click(function () {
            $('#Holiday-form').find("input").val("");
            ResetModal();
            $('#HolidayModal').modal("show");
            $('#HolidayDate').attr("onchange", "CheckDate()");
        });

        $('#Holiday-form').validate({
            rules: {
                HolidayDate: { required: true },
                HolidayName: { required: true }
            },
            messages: {
                HolidayDate: "กรุณาเลือกวันที่",
                HolidayName: "กรุณาป้อนวันหยุด"
            }
        })
    </script>
}

