@using Students_Attendance_Project.Models;
@model Students_Attendance_Project.Models.FilterModel
@using PagedList.Mvc;
@using PagedList;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "รายวิชา";
}
<style>
    .table-scrollable {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        border: 1px solid #e7ecf1;
        margin: 10px 0 !important;
    }

        .table-scrollable .text-left {
            text-align: left;
        }
</style>

<link rel="stylesheet" href="~/AdminLTE-master/plugins/datatables/dataTables.bootstrap.css">
@*<section class="content-header">
    <h1>ข้อมูลรายวิชา</h1>
    <ol class="breadcrumb">
        <li><a href="../../default.html"><i class="fa fa-dashboard"></i> หน้าหลัก</a></li>
        <li class="active"><a href="subject.html">วิชาที่สอน</a></li>
        </ol>
</section>*@
<!-- Main content -->
<section>
    <!-- /.box table -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="box">
                <div class="box-header">
                    <div class="box-header">
                        <div class="caption">
                            <i class="fa fa-cogs"></i> &nbsp;<strong style="font-size: 16px; ">ข้อมูลรายวิชา</strong>
                            <button type="button" class="btn btn-primary btn-sm pull-right btn-addsubject"><i class="fa fa-plus"></i>&nbsp;เพิ่มรายวิชา</button>
                        </div>
                        <p>
                            <hr />
                        </p>
                        <div class="row col-sm-5 pull-right">
                            <form id="form-search" action="#" class="form-horizontal" method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <input type="text" name="Query" class="form-control" placeholder="ค้นหา..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover text-center" id="Subject-table">
                                <thead>
                                    <tr class="success">
                                        <th style="width: 10%">รหัสวิชา</th>
                                        <th style="width: 30%">ชื่อวิชาไทย</th>
                                        <th style="width: 30%">ชื่อวิชาอังกฤษ</th>
                                        <th style="width: 10%">สภาพวิชา</th>
                                        <th style="width: 4%">ทฤษฎี</th>
                                        @*<th style="width: 4%">ชม.</th>*@
                                        <th style="width: 4%">ปฏิบัติ</th>
                                        @*<th style="width: 4%">ชม.</th>*@
                                        <th>  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var entity = (PagedList.IPagedList<SubjectModel>)ViewBag.Subject;
                                        if (entity.Count > 0 && entity != null)
                                        {
                                            int line = 0;
                                            foreach (var r in entity)
                                            {
                                                <tr class="@(line % 2 != 0 ? "info" : "")">
                                                    <td>@r.SubjectCode</td>
                                                    <td class="text-left">@r.SubjectName</td>
                                                    <td class="text-left">@r.SubjectNameEN</td>
                                                    <td>@r.Condition</td>
                                                    <td>@r.SubjectTheory</td>
                                                    @*<td>@r.TimeTheory </td>*@
                                                    <td>@r.SubjectPractice</td>
                                                    @*<td>@r.TimePractice</td>*@
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-xs btn-edit" data-subjectid="@r.SubjectCode" role="button" data-toggle="tooltip" data-placement="top" title="แก้ไขข้อมูล"><i class="fa fa-pencil"></i></button>
                                                        @*<button type="button" class="btn btn-danger btn-xs btn-del" data-subjectid="@r.SubjectCode" role="button"><i class="fa fa-remove"></i></button>*@
                                                    </td>
                                                </tr>
                                                line++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row pull-right" style="margin-right:2px;">
                            @Html.PagedListPager((IPagedList)ViewBag.Subject, page => Url.Action("Subject", new { page, Model.Query }))
                        </div>
                        <form id="Subject-form" class="form-horizontal">
                            <div class="modal fade" id="SubjectModal" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">รายวิชา</h4>
                                        </div>
                                        <div class="modal-body ">

                                            <input type="hidden" name="CheckAddORupdate" id="CheckAddORupdate" value="1">

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">รหัสวิชา :<span class="isRed"> *</span></label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" name="SubjectCode" id="SubjectCode" tabindex="1"
                                                           data-inputmask='"mask": "99-999-999"' data-mask placeholder="00-000-000" required
                                                           minlength="8" onblur="CheckformatSub(this.value)">
                                                    <div class="isSubject" style="padding-top: 3px;"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">หลักสูตร :<span class="isRed"> *</span></label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" id="Course" name="Course" tabindex="2"
                                                           required maxlength="4" onkeyup="isNumberOnly(this.value, this)">
                                                    <div class="isSubject" style="padding-top: 3px;"></div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">ชื่อวิชาไทย :<span class="isRed"> *</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="SubjectName" name="SubjectName" tabindex="3"
                                                           required onkeyup="isThaichar(this.value, this)">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">ชื่อวิชาอังกฤษ :<span class="isRed"> *</span></label>
                                                <div class="col-sm-7">
                                                    <input type="text" class="form-control" id="SubjectNameEN" name="SubjectNameEN" tabindex="4"
                                                           required onkeyup="isUsername(this.value, this)">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">สภาพวิชา :<span class="isRed"> *</span></label>
                                                <div class="col-sm-6">
                                                    <select class="form-control" id="Condition" name="Condition" tabindex="5" required">
                                                        <option value="">-- กรุณาเลือก --</option>
                                                        <option value="1.1">1.1 กลุ่มวิชาสังคมศาสตร์</option>
                                                        <option value="1.2">1.2 กลุ่มวิชามนุษยศาสตร์</option>
                                                        <option value="1.3">1.3 กล่มวิชาภาษา</option>
                                                        <option value="1.4">1.4 กลุ่มวิชาวิทยาศาสตร์และคณิตศาสตร์</option>
                                                        <option value="2.1">2.1 กลุ่มวิชาชีพพื้นฐาน</option>
                                                        <option value="2.2">2.2 กลุ่มวิชาชีพบังคับ</option>
                                                        <option value="2.3">2.3 กลุ่มวิชาชีพเลือก</option>
                                                    </select>
                                                </div>
                                                @*<input type="text" class="form-control" id="Condition" name="Condition" tabindex="5" maxlength="3"
                                                    required onkeyup="isFloat(this.value, this)">*@
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">ทฤษฎี :<span class="isRed"> *</span></label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" id="SubjectTheory" name="SubjectTheory" tabindex="6" maxlength="1"
                                                           required onkeyup="isNumber(this.value, this)">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">ปฏิบัติ :<span class="isRed"> *</span></label>
                                                <div class="col-sm-2">
                                                    <input type="text" class="form-control" id="SubjectPractice" name="SubjectPractice" tabindex="7" maxlength="1"
                                                           required onkeyup="isNumber(this.value, this)">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">ยกเลิก</button>
                                            <button type="button" class="btn btn-success pull-right btn-save" data-dismiss="modal">บันทึกข้อมูล</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
    <!-- /.box table -->
</section>

@section scripts{
    <script src="~/AdminLTE-master/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/AdminLTE-master/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <!-- DataTables -->
    <script src="~/AdminLTE-master/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-master/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu > li').removeClass('active');
            $('.Subject').addClass('active');
        });

        var isSucjCode = false;
        function CheckformatSub(sText) {
            var a = sText.substring(9, 10);
            if (a == '_') {
                isSucjCode = false;
                $('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('valid').addClass('error');
            }
            else {
                isSucjCode = true;
                $('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('error').addClass('valid');
            }
        }

        function isNumberOnly(sText, obj) {
            var ValidChars = "1234567890";
            var IsNumber = true;
            var Char;
            for (i = 0; i < sText.length && IsNumber == true; i++) {
                Char = sText.charAt(i);
                if (ValidChars.indexOf(Char) == -1) {
                    IsNumber = false;
                }
            }
            if (IsNumber == false) {
                obj.value = sText.substr(0, sText.length - 1);
            }
            CheckSubjectCode();
        }

        function isNumber(sText, obj) {
            var ValidChars = "1234567890";
            var IsNumber = true;
            var Char;
            for (i = 0; i < sText.length && IsNumber == true; i++) {
                Char = sText.charAt(i);
                if (ValidChars.indexOf(Char) == -1) {
                    IsNumber = false;
                }
            }
            if (IsNumber == false) {
                obj.value = sText.substr(0, sText.length - 1);
            }
        }

        function CheckSubjectCode() {
            var subCode = $('#SubjectCode').val();
            var course = $('#Course').val();
            var SubCourse = subCode + "," + course;
            //alert(subCode);
            if (course != "") {
                if (course.length == 4) {
                    $.ajax({
                        type: "POST",
                        cache: false,
                        url: '@Url.Action("CheckSubjectCode","Admin")',
                        dataType: "json",
                        data: { _SubCourse: SubCourse },
                        traditional: true,
                        beforeSend: function () {
                            loadSpin();
                        },
                        success: function (res) {
                            var status = false;
                            var message = 'ดำเนินการไม่สำเร็จ';
                            if (res != null && res != undefined) {
                                status = res.status;
                                message = res.message;
                            }
                            if (status == false) {
                                isSucjCode = false;
                                $('.isSubject').html(subCode + " (" + course + ") ซ้ำ!").addClass("isRed");
                                $('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('valid').addClass('error');
                                $('#Subject-form').find('.form-group').find('#Course').removeClass('valid').addClass('error');
                            }
                            else if (status == true) {
                                isSucjCode = true;
                                $('.isSubject').html("");
                                $('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('error').addClass('valid');
                                $('#Subject-form').find('.form-group').find('#Course').removeClass('error');
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("เกิดข้อผิดพลาด", message, "error");
                            unLoadSpin();
                        },
                        complete: function () {
                            unLoadSpin();
                        }
                    });
                }
                else {
                    $('.isSubject').html("");
                    //$('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('error').addClass('valid');
                }
            }
            else {
                isSucjCode = false;
                $('.isSubject').html("");
                //$('#Subject-form').find('.form-group').find('#SubjectCode').addClass('valid').removeClass('error');
                $('#Subject-form').find('.form-group').find('#Course').addClass('error').removeClass('valid');
            }

        }

        $('#Subject-form').validate({
            rules: {
                SubjectCode: { required: true, minlength: 9 },
                Course: { required: true, minlength: 4 },
                SubjectName: { required: true },
                SubjectNameEN: { required: true },
                Condition: { required: true },
                SubjectTheory: { required: true, },
                SubjectPractice: { required: true, }
            },
            messages: {
                SubjectCode: { required: "กรุณาป้อนรหัสวิชา", minlength: "กรุณาป้อนตรหัสวิชา 8 หลัก" },
                Course: { required: "กรุณาป้อนหลัดสูตร", minlength: "กรุณาป้อนตัวเลข 4 หลัก" },
                SubjectName: "กรุณาป้อนชื่อวิชาภาษาไทย",
                SubjectNameEN: "กรุณาป้อนชื่อวิชาภาษาอักกฤษ",
                Condition: "กรุณาเลือกสภาพวิชา",
                SubjectTheory: "กรุณาป้อนจำนวนหน่วยกิต",
                SubjectPractice: "กรุณาป้อนจำนวนหน่วยกิต"
            }
        });

        function ResetModal() {
            $('.isSubject').html("");
            $('#Subject-form').find('.form-group').find('label.error').remove();
            $('#Subject-form').find('.form-group').find('.error').removeClass('error');
            $('#Subject-form').find('.form-group').find('.valid').removeClass('valid');
        }

        $('.btn-addsubject').click(function () {
            $('#Subject-form').find("input").val("");
            ResetModal();
            $('#SubjectModal').modal("show");
            $('#SubjectCode').prop("readonly", false);
            $('#Course').prop("readonly", false);
            $('#Course').attr("onblur", "CheckSubjectCode()");
        });

        $("[data-mask]").inputmask();

        $('#checkThoery').change(function () {
            $(this).is(':checked') ? $(this).val('1') : $(this).val('0');
        });

        $('#checkPractice').change(function () {
            $(this).is(':checked') ? $(this).val('1') : $(this).val('0');
        });

        $('.btn-save').click(function () {
            //alert($('#SubjectID').val());
            //alert($('#FacultyID').val());
            if ($('#Subject-form').valid() && isSucjCode == true) {
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("SaveSubject", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: $('#Subject-form').serialize(), // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },

                    success: function (res) {

                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            swal("เกิดข้อผิดพลาด", message, "error");

                        } else {
                            swal({
                                title: "บันทึกข้อมูลเรียบร้อยเเล้ว",
                                type: "success",
                                showConfirmButton: false,
                                //confirmButtonColor: "#AEDEF4",
                                //confirmButtonText: "Ok",
                                timer: 1000,
                                closeOnConfirm: false
                            },
                                function () {
                                    location.reload(true);
                                });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                        unLoadSpin();
                    },
                    complete: function () {
                        unLoadSpin();
                    },
                });
            }
            else {
                isSucjCode = false;
                $('#Subject-form').find('.form-group').find('#SubjectCode').removeClass('valid').addClass('error');
                $('#Subject-form').find('.form-group').find('#Course').removeClass('valid').addClass('error');
            }

            return false;
        });
        $('.btn-edit').click(function () {
            //var id = $(this).data("subjectid");
            //alert(id);
            //$('#SubjectModal').modal('show');
            isSucjCode = true;
            $("#SubjectCode").val($(this).data("subjectid"));
            var tempid = $("#SubjectCode").val();
            $.ajax({

                type: "POST", // method ที่จะส่ง
                cache: false,
                url: '@Url.Action("UpdateSubject", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                dataType: "json", // ชนิดข้อมูลที่ส่ง
                data: { id: $('#SubjectCode').val() }, // ข้อมูลที่ส่ง
                traditional: false, // การจดจำข้อมูล
                beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                    loadSpin();
                },
                success: function (res) {

                    var status = false;
                    var message = 'ดำเนินการไม่สำเร็จ';
                    if (res != null && res != undefined) {
                        status = res.status;
                        message = res.message != '' ? res.message : message;
                    }
                    if (status == false) {
                        swal("เกิดข้อผิดพลาด", message, "error");

                    } else {
                        $('#SubjectCode').val(res.data.SubjectCode);
                        $('#Course').val(res.data.Course);
                        $('#SubjectName').val(res.data.SubjectName);
                        $('#SubjectNameEN').val(res.data.SubjectNameEN);
                        $('#SubjectTheory').val(res.data.SubjectTheory);
                        $('#Condition').val(res.data.Condition);
                        $('#SubjectPractice').val(res.data.SubjectPractice);
                        ResetModal();
                        $('#SubjectModal').modal('show');
                        $('#SubjectCode').prop("readonly", true);
                        $('#Course').prop("readonly", true);
                        $('#Course').attr("onblur", null);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("เกิดข้อผิดพลาด", message, "error");
                    unLoadSpin();
                },
                complete: function () {
                    unLoadSpin();
                }
            });
        });
        $('.btn-del').click(function () {
            var id = $(this).data("subjectid");
            //alert(id);
            swal({
                title: "ลบข้อมูล?",
                text: "คุณต้องการจะลบข้อมูลจริงหรือไม่!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "ใช่ !",
                cancelButtonText: "ยกเลิก",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: "POST", // method ที่จะส่ง
                        cache: false,
                        url: '@Url.Action("DeleteSubject", "Admin")',  // ส่งไปให้ที่ได้ ระบุ
                        dataType: "json", // ชนิดข้อมูลที่ส่ง
                        data: { id: id }, // ข้อมูลที่ส่ง
                        traditional: true, // การจดจำข้อมูล
                        beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                            loadSpin();
                        },
                        success: function (res) {

                            var status = false;
                            var message = 'ดำเนินการไม่สำเร็จ';
                            if (res != null && res != undefined) {
                                status = res.status;
                                message = res.message != '' ? res.message : message;
                            }
                            if (status == false) {
                                swal("เกิดข้อผิดพลาด", message, "error");

                            } else {

                                swal({
                                    title: "ลบข้อมูลเรียบร้อยเเล้ว",
                                    type: "success",
                                    showConfirmButton: false,
                                    timer: 1000,
                                    //confirmButtonColor: "#AEDEF4",
                                    //confirmButtonText: "Ok",
                                    //closeOnConfirm: false
                                },
                                function () {
                                    location.reload(true);
                                });
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            swal("เกิดข้อผิดพลาด", message, "error");
                            unLoadSpin();
                        },
                        complete: function () {
                            unLoadSpin();
                        }
                    });
                }
            });
        });

    </script>
}

