
@{
    ViewBag.Title = "การเช็คชื่อ";
}
<link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/fullcalendar.min.css" rel="stylesheet" />
<link href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<style>
    body {
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        background-color: white;
        max-width: 900px;
        margin: 0 auto;
    }

    .fc-widget-content {
        cursor: pointer;
    }

    .fc-unthemed td.fc-today {
        background: #ccffd9;
    }

    div.fc-list-empty {
    }
</style>
@{
    if (ViewBag.Haveschedule == 0)
    {
        <div class="alert alert-warning">
            <strong>หมายเหตุ!</strong> คุณยังไม่ได้สร้างตารางสอนในภาคการศึกษานี้ กรุณาสร้างตารางสอน เพื่อทำการเช็คชื่อ
        </div>
    }
}
<div id="calendar" class="row"></div>

<div id="checknameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="checknameModalTitle">การเช็คชื่อ</span></h4>
            </div>
            <div class="modal-body">
                <div id="description">
                    <center></center><br />
                </div>

                <div class="col-sm-4 col-md-4 col-xs-2"></div>
                <div class="col-sm-4 col-md-4 col-xs-8">
                    <button type="button" class="btn btn-success btn-Check pull-left">เช็คชื่อ</button>
                    <button type="button" class="btn btn-primary btn-Compensate pull-right">ชดเชย</button>
                    <button type="button" class="btn btn-default center-block hidden btn-close" data-dismiss="modal">Close</button>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-2"></div><br /><br />
            </div>
        </div>
    </div>
</div>

<form id="Compensate-form" class="form-horizontal">
    <div class="modal fade" id="CompensateModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">สอนชดเชย</h4>
                </div>
                <div class="modal-body ">
                    <input type="hidden" name="dataDateCheck" id="dataDateCheck" value="">
                    <input type="hidden" name="dataDateDefault" id="dataDateDefault" value="">
                    <input type="hidden" id="gID" value="" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">วันที่เรียนปกติ :</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="DateDefault" name="DateDefault" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">วันที่ชดเชย :</label>
                        <div class="col-sm-5">
                            <div class="input-group date">
                                <input type="text" class="form-control datepicker" id="DateCheck" name="DateCheck" data-date-language="th-th" tabindex="2"
                                       maxlength="10" required onkeyup="isDate(this.value, this)">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                            <div id="isDateCheck" style="padding-top: 3px;"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-success btn-save" data-dismiss="modal">บันทึกข้อมูล</button>
                        </div>
                    </div>
                    <p><hr /></p>
                    <div class="table-scrollable" id="Holiday-table">
                        <table class="table table-bordered table-hover text-center" id="Compensate-table">
                            <thead>
                                <tr class="success">
                                    <th style="width: 5%;"> ลำดับ </th>
                                    <th> วันที่ชดเชย </th>
                                    <th> วันที่เรียนปกติ </th>
                                    <th style="width: 10%;">  </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        var d = Date.now.toString('yyyy-mm-dd');
        var colorCode = ["#0080FF", "#12a112", "#01A9DB", "#9966ff", "#ff9933"];
        var key = null;
        var realDate = new Array();
        $('.datepicker').datepicker({
            showInputs: true,
            autoclose: true,
            disableTouchKeyboard: true,
            format: 'dd/mm/yyyy'
        });
        $('#Compensate-form').validate({
            rules: {
                DateDefault: { required: true },
                DateCheck: { required: true }
            },
            messages: {
                DateDefault: "กรุณาเลือกวันที่เรียนปกติ",
                DateCheck: "กรุณาเลือกวันที่ชดเชย"
            }
        });
        function isDate(sText, obj) {
            var ValidChars = "1234567890/";
            var IsNumber = true;
            var Char;
            for (i = 0; i < sText.length && IsNumber == true; i++) {
                Char = sText.charAt(i);
                if (ValidChars.indexOf(Char) == -1) {
                    IsNumber = false;
                }
            }
            if (IsNumber == false) {
                obj.value = sText.substr(0, sText.length - 1);
            }
        }

        $('#CompensateModal').on('hidden.bs.modal', function () {
            location.reload(true);
        })

        function getDateCom(groupID) {
            //alert(groupID);
            if (groupID != "") {
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("getDatecheck", "Home")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: { id: groupID }, // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },

                    success: function (res) {

                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            swal("เกิดข้อผิดพลาด", message, "error");

                        } else {
                            $('#DateDefault').val(realDate[1]);
                            $('#Compensate-table').find('tbody').find('tr').remove();
                            $.each(res.data.compensate, function (i, e) {
                                var dateCompensate = e.Note.split(' ');
                                $('#Compensate-table').find('tbody').append('<tr><td>' + (++i) + '</td><td>' + dateCompensate[2] + '</td><<td>' + e.DateOrigin + '</td><td><button type="button" class="btn btn-danger btn-xs btn-del" data-compensate="' + e.ID + "," + dateCompensate[2] + "," + e.DateOrigin + '" role="button" data-toggle="tooltip" data-placement="top" title="ลบ"><i class="fa fa-remove"></i></button></td></tr>');
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                    },
                    complete: function () {
                        unLoadSpin();
                        btnDelAppend(groupID);
                    },
                });
            }
        }

        function btnDelAppend(groupID) {
            $('.btn-del').click(function () {
                var data = $(this).data("compensate");
                //alert(data);
                swal({
                    title: "ลบข้อมูล?",
                    text: "คุณต้องการจะลบข้อมูลจริงหรือไม่!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "ใช่ !",
                    cancelButtonText: "ยกเลิก",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST", // method ที่จะส่ง
                            cache: false,
                            url: '@Url.Action("DeleteCompensate", "Home")',  // ส่งไปให้ที่ได้ ระบุ
                            dataType: "json", // ชนิดข้อมูลที่ส่ง
                            data: { _data: data }, // ข้อมูลที่ส่ง
                            traditional: true, // การจดจำข้อมูล
                            beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                                loadSpin();
                            },
                            success: function (res) {

                                var status = false;
                                var message = 'ดำเนินการไม่สำเร็จ';
                                if (res != null && res != undefined) {
                                    status = res.status;
                                    message = res.message != '' ? res.message : message;
                                }
                                if (status == false) {
                                    swal("ขออภัย!", message, "error");

                                } else {
                                    var date = data.split(',');
                                    swal("ลบข้อมูลเรียบร้อยเเล้ว", "คุณสามารถเช็คชื่อในวันที่ " + date[2], "success");
                                }
                                //if (status == true) {
                                //    var data1 = res.data.dataCompens;
                                //    var data2 = res.data.DateOriginal;
                                //}
                            },
                            error: function (xhr, ajaxOptions, thrownError) {

                            },
                            complete: function () {
                                unLoadSpin();
                                getDateCom(groupID);
                            }
                        });

                    }
                });
            });
        }

        function checkDateDufault(stygID) {
            var state = false;
            if (realDate[1] != "") {
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("CheckDateDefault", "Home")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: { date: realDate[1], studygID: stygID }, // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },
                    success: function (res) {
                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            swal("ขออภัย !", "ไม่สามารถทำการชดเชยในวันนี้ได้ เนื่องจากมีการเช็คชื่อไปแล้ว", "error");
                        } else {
                            var str = key.split(',');
                            getDateCom(str[0]);
                            $('#gID').val(str[0]);
                            gID = str[0];
                            $('#isDateCheck').html("");
                            $('#Compensate-form').find('.form-group').find('#DateCheck').removeClass('error');
                            $('#Compensate-form').find("input").val("");
                            $('#CompensateModal').modal('show');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                    },
                    complete: function () {
                        unLoadSpin();
                    },
                    
                });
            }
            return state;
        }

        var gID = null;
        $('.btn-Compensate').click(function () {
            var str = key.split(',');
            checkDateDufault(str[0]);
        });

        $('.btn-Check').click(function () {
            //alert(key);
            var str = key.split(',');
            @*$(location).attr("href", "@Url.Action("Checkname", "Home")/" + key + "");*@
            $(location).attr("href", "@Url.Action("Checkname", "Home")/" + str[0] + "?id2=" + str[1] + "&_date=" + str[2] + "");
        });

        $('.btn-save').click(function () {
            var date = $('#DateCheck').val();
            var datedefault = $('#DateDefault').val();
            var send = date + "," + gID + "," + datedefault;
            //alert(datedefault);
            if ($('#Compensate-form').valid() && isDateCheck == true) {
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("SaveCompensate", "Home")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: { _data: send }, // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },

                    success: function (res) {

                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            swal("เกิดข้อผิดพลาด", message, "error");

                        } else {
                            swal({
                                title: "บันทึกข้อมูลเรียบร้อยเเล้ว",
                                type: "success",
                                showConfirmButton: false,
                                //confirmButtonColor: "#AEDEF4",
                                //confirmButtonText: "Ok",
                                timer: 1000,
                                closeOnConfirm: false
                            });
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                    },
                    complete: function () {
                        $('#DateCheck').val("");
                        unLoadSpin();
                        getDateCom(gID);
                    },
                });
            }
            else {
                $('#Holiday-form').find('.form-group').find('#HolidayDate').removeClass('valid').addClass('error');
            }
            return false;
        });

        var isDateCheck = false;
        $('#DateCheck').change(function () {
            var date = $('#DateCheck').val();
            $('#dataDateCheck').val(date);
            //var groupid = $('#gID').val();
            //alert(groupID);
            //alert(date);
            if ($('#dataDateCheck').val() != "") {
                var send = date + "," + gID;
                $.ajax({
                    type: "POST", // method ที่จะส่ง
                    cache: false,
                    url: '@Url.Action("CheckDateTeach", "Home")',  // ส่งไปให้ที่ได้ ระบุ
                    dataType: "json", // ชนิดข้อมูลที่ส่ง
                    data: { _date: send }, // ข้อมูลที่ส่ง
                    traditional: true, // การจดจำข้อมูล
                    beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                        loadSpin();
                    },

                    success: function (res) {

                        var status = false;
                        var message = 'ดำเนินการไม่สำเร็จ';
                        if (res != null && res != undefined) {
                            status = res.status;
                            message = res.message != '' ? res.message : message;
                        }
                        if (status == false) {
                            isDateCheck = false;
                            $('#isDateCheck').html(date + " " + message + "กรุณาเลือกใหม่").addClass("isRed");
                            $('#Compensate-form').find('.form-group').find('#DateCheck').removeClass('valid').addClass('error');
                        } else {
                            isDateCheck = true;
                            $('#isDateCheck').html("");
                            $('#Compensate-form').find('.form-group').find('#DateCheck').removeClass('error');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        swal("เกิดข้อผิดพลาด", message, "error");
                    },
                    complete: function () {
                        unLoadSpin();
                    },
                });
            }
        });

        $(document).ready(function () {
            $('.sidebar-menu > li').removeClass('active');
            $('.ScheduleCheck').addClass('active');
            var events = [];
            var groupID = null;
            var yearID = null;
            $.ajax({
                type: "GET",
                dataType: 'json',
                cache: false,
                url: '@Url.Action("getScheduleCheck", "Home")',
                beforeSend: function () { // ก่องส่ง data จะให้ทำไร
                    loadSpin();
                },
                success: function (res) {
                    if (res.status != false) {
                        @*url: "@Url.Action("StdCheck", "Home")/" + groupID + "?id2=" + yearID + "",*@
                        $.each(res.data.dataEvent, function (i, e) {
                            groupID = e.StudyGroupID;
                            yearID = e.SchYearID;
                            events.push({
                                id: e.id,
                                title: e.title,
                                description: e.description,
                                start: e.start,
                                end: e.end,
                                color: colorCode[i % colorCode.length]
                            })
                        });


                        $.each(res.data.dataHoliday, function (i, e) {
                            events.push({
                                id: null,
                                title: e.HolidayName,
                                description: e.description,
                                start: e.HolidayDate,
                                end: null,
                                color: "#ff3333"
                            })
                        });

                        $.each(res.data.dataStartYear, function (i, e) {
                            events.push({
                                id: null,
                                title: e.title,
                                description: e.description,
                                start: e.start,
                                end: null,
                                color: "#00cc99"
                            })
                        });

                        $.each(res.data.dataEndYear, function (i, e) {
                            events.push({
                                id: null,
                                title: e.title,
                                description: e.description,
                                start: e.start,
                                end: null,
                                color: "#00cc99"
                            })
                        });

                        $.each(res.data.dataMidterm, function (i, e) {
                            events.push({
                                id: null,
                                title: e.title,
                                description: e.description,
                                start: e.start,
                                end: e.end,
                                color: "#00cc99"
                            })
                        });

                        $.each(res.data.dataFinal, function (i, e) {
                            events.push({
                                id: null,
                                title: e.title,
                                description: e.description,
                                start: e.start,
                                end: e.end,
                                color: "#00cc99"
                            })
                        });
                    }
                    Showdata(events);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    swal("เกิดข้อผิดพลาด", "", "error");
                    unLoadSpin();
                },
                complete: function () {
                    unLoadSpin();
                }
            });

            function Showdata(events) {
                //$('.fc-list-empty').val('ไม่มีตารางสอน');
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    locale: "th",
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,listWeek,listDay'
                    },
                    views: {
                        listWeek: { buttonText: 'สัปดาห์' },
                        listDay: { buttonText: 'วัน' }
                    },
                    defaultView: 'month',
                    // defaultDate: '2017-09-12', new Date(),
                    navLinks: true, // can click day/week names to navigate views
                    editable: false,
                    eventLimit: 4, // allow "more" link when too many events
                    timeFormat: 'HH:mm',
                    events: events,
                    eventClick: function (event) {
                        key = event.id;
                        if (key == null) {
                            $('#checknameModal #checknameModalTitle').text(event.title);
                            $('.btn-close').removeClass('hidden');
                            $('.btn-Compensate').addClass('hidden');
                            $('.btn-Check').addClass('hidden');
                            $('#description center').html("<b>" + event.description + "</b>");
                        }
                        else {
                            realDate = event.description.split(" ");
                            //alert(realDate[1]);
                            //$('#DateDefault').val(realDate[1]);

                            $('#checknameModal #checknameModalTitle').text("การเช็คชื่อ");
                            $('.btn-close').addClass('hidden');
                            $('.btn-Check').removeClass('hidden');
                            $('.btn-Compensate').removeClass('hidden');
                            $('#description center').html(event.description);
                        }
                        $('#checknameModal').modal("show");

                    }
                });
            }
        });
    </script>

    @*<script src="~/Scripts/moment.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/fullcalendar.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.0/locale/th.js'></script>
}
