@model Students_Attendance_Project.Models.FilterModel
@using Students_Attendance_Project.Models;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "สรุปผลการเช็คชื่อ";
    var entity = (List<SummaryModel>)ViewBag.SummaryCheck;
}

<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="box-header">
                    <div class="box-header">
                        <div class="caption">
                            <i class="fa fa-cogs"></i> &nbsp;<strong style="font-size: 16px; ">สรุปผลการเช็คชื่อ</strong> 
                        </div>
                        <p>
                            <hr />
                        </p>
                        <div class="row">
                            <div class="col-sm-5 pull-right">
                                <form id="form-search" action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="col-sm-6 pull-right">
                                            <select class="form-control" id="Query" name="Query" tabindex="1" onchange="Submit()">
                                                @{
                                                    var TermEntity = (List<SchoolYearModel>)ViewBag.SchYear;
                                                    if (TermEntity.Count > 0 && TermEntity != null)
                                                    {
                                                        foreach (var r in TermEntity)
                                                        {
                                                            if (r.Term.Equals("3"))
                                                            {
                                                                <option value="@r.SchYearID">@r.Year/@r.Term ฤดูร้อน</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@r.SchYearID">@r.Year/@r.Term</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- Teble-->
                        <div class="table-scrollable">
                            <table class="table table-bordered table-hover text-center" id="summaryListCheck-table">
                                <thead>
                                    <tr class="success">
                                        <th style="width: 5%"> ลำดับ </th>
                                        <th style="width: 25%"> สาขาวิชา </th>
                                        <th style="width: 10%"> กลุ่มเรียน </th>
                                        <th style="width: 35%"> รายวิชา </th>
                                        <th style="width: 10%"> รายละเอียด </th>
                                        <th style="width: 10%"> ดาวน์โหลด </th>
                                    </tr>
                                </thead>
                                <tbody class="text-left">
                                    @{
                                        string typesub = "";
                                        if (entity.Count > 0 && entity != null)
                                        {
                                            int line = 1;

                                            foreach (var r in entity)
                                            {
                                                if (r.SubjectTheory != 0 && r.SubjectPractice != 0)
                                                {
                                                    typesub = "ทฤษฎี-ปฏิบัติ";
                                                }
                                                else if (r.SubjectTheory != 0)
                                                {
                                                    typesub = "ทฤษฎี";
                                                }
                                                else if (r.SubjectPractice != 0)
                                                {
                                                    typesub = "ปฏิบัติ";
                                                }
                                                <tr class="@(line % 2 == 0 ? "info":"")">
                                                    <td>@line</td>
                                                    <td style="text-align:left">@r.DeptName</td>
                                                    <td>@r.StudyGroupCode</td>
                                                    <td style="text-align:left">[@r.SubjectCode] @r.SubjectName (@typesub)</td>
                                                    <td>
                                                        <a href="@Url.Action("DetailSummaryListCheck","Home", new SummaryModel { SchYearID = r.SchYearID, StudyGroupID = r.StudyGroupID, StudyGroupCode = r.StudyGroupCode, Course = r.Course, SubjectCode = r.SubjectCode })" data-studygroupid="@r.StudyGroupID">รายละเอียด</a>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-xs btn-ExportToExcel" @*data-summaryid="@r.StudyGroupID,@r.SchYearID,@r.SubjectCode,@r.Course"*@ role="button" 
                                                                onclick="location.href='@Url.Action("ExportSummaryListCheck", "Home", new StudyGroupModel { SchYearID = r.SchYearID, StudyGroupID = r.StudyGroupID, StudyGroupCode = r.StudyGroupCode, Course = r.Course, SubjectCode = r.SubjectCode } )'">Export to Excel
                                                        </button>
                                                    </td>
                                                </tr>
                                                line++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        @*<div class="row pull-right" style="margin-right:2px;">
                            @Html.PagedListPager((IPagedList)ViewBag.SummaryCheck, page => Url.Action("SummaryListCheck", new { page }))
                        </div>*@
                        <!-- table-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.sidebar-menu > li').removeClass('active');
            $('.summary').addClass('active');
            $('.summary > ul > .summary1').addClass('active');
           
        });
        function Submit() {
            loadSpin();
            $('#form-search').submit();
        }
        //var id = $('#schYearID').val();
        //alert(id);
        $('#Query').val(@entity.Select(r => r.SchYearID).FirstOrDefault());

        if (@Model.Query+"" != "") {
            $('#Query').val(@Model.Query);
        }
        else {
            $('#Query').val(@entity.Select(r => r.SchYearID).FirstOrDefault());
        }
    </script>
}
